 body {
    background-repeat: no-repeat;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbVghIcV0lsnpo91EzEuDFeH7jBe3rs7zkq5j6DD0g7eUItiJPE6St4yHQGiN1SPvXx9g&usqp=CAU);
background-size: cover;
color: white;

}
#h2 {
    font-size: 50px;
    text-align: center;
   
}
#h3 {
    font-size: 36px;
    margin-left: 40px;
  
}
.p {
    font-size: 30px;
    margin-left: 40px;
}

 a {
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 5px;
    background-color: gray;
    color: white;
    font-size: 20px;
}

.list-inline {
    font-size: 30px;
}

header#page_header nav ul li {
    list-style: none;
}
a:hover {
    background-color: turquoise;
    
}

#bfc {
   background-color: rgb(252, 214, 214);
   color:blue;
   font-size:30px;
   text-decoration: none;
   float: left;
   height: 40px;
   line-height: 40px;
   padding: 0px;
   margin: 0;
   border-radius: 15px;
}

#eyeCg {
    background-color: rgb(252, 214, 214);
    color:blue;
    font-size:30px;
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}
#bfc2 {
    background-color: rgb(252, 214, 214);
    color:blue;
    font-size:30px;
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}
#eskm {
    background-color: rgb(252, 214, 214);
    color:blue;
    font-size:30px;
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}
#lim {
    background-color: rgb(252, 214, 214);
    color:blue;
    font-size:30px;
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

#myopiaProg {
    background-color: rgb(252, 214, 214);
    color:blue;
    font-size:30px;
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}